body {
	background-color: #222;
	margin: 0;
}

body {
	margin: 0 auto;
	width: 1280px;
}

canvas {
	background-color: transparent;
	position: absolute;
  transition: opacity 1s ease;
}

/* Fullscreen */
body:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

body:-moz-full-screen {
  height: 100%;
  width: 100%;
}

body:fullscreen {
  height: 100%;
  width: 100%;
}

body:-webkit-full-screen canvas {
	height: 100%;
}

body:-moz-full-screen canvas {
	height: 100%;
}

body:fullscreen canvas {
	height: 100%;
}

body:-webkit-full-screen .canvasContainer{
	height: 100%;
	width: 100%;
}

body:-moz-full-screen .canvasContainer{
	height: 100%;
	width: 100%;
}

body:fullscreen .canvasContainer{
	height: 100%;
	width: 100%;
}

.canvasContainer {
	height: 720px;
	position: relative;
	width: 1280px;
	overflow: hidden;
}


/* GUI element styling */
button.gui {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.panel.gui {
	opacity: 0.5;
	-webkit-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
	-moz-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
	-ms-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
	-o-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
	transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
}