/* GUI element styling */
button.gui {
    background: none no-repeat;
    background-position: center;
    border: none;
    margin: 0;
    padding: 0;
    /*positioning*/
    position: absolute;
}

/* Sliding + transparent panels */
/*.panel.gui {
    opacity: 0.5;
    -webkit-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
    -moz-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
    -ms-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
    -o-transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
    transition: left 0.3s ease, right 0.3s ease 0.5s, top 0.3s ease 0.5s, bottom 0.3s ease 0.5s;
}*/

.wrapper, .element, .collection {
    position: absolute;
}

.element {
    z-index: 1;
}

.rootGrid {
    position: relative;
}

.gui {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 0.95;
}

.gui.fade-out {
    opacity: 0.05;
    -webkit-transition-delay: 10s;
    -moz-transition-delay: 10s;
    -ms-transition-delay: 10s;
    -o-transition-delay: 10s;
    transition-delay: 10s;
}